
@font-face {
    font-family: VazirThin;
    src: url('../fonts/Vazir-Thin-FD.woff2');
    src: url('../fonts/Vazir-Thin-FD.woff2') format('embedded-opentype'),
    url('../fonts/Vazir-Thin-FD.woff2') format('woff2'),
    url('../fonts/Vazir-Thin-FD.woff2') format('woff'),
    url('../fonts/Vazir-Thin-FD.woff2') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir1;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: VazirMedium;
    src: url('../fonts/Vazir-Medium-FD.woff');
    src: url('../fonts/Vazir-Medium-FD.woff') format('embedded-opentype'),
    url('../fonts/Vazir-Medium-FD.woff') format('woff2'),
    url('../fonts/Vazir-Medium-FD.woff') format('woff'),
    url('../fonts/Vazir-Medium-FD.woff') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: farsiDigit;
    src: url('../fonts/Vazir-Light-FD.woff');
    src: url('../fonts/Vazir-Light-FD.woff') format('embedded-opentype'),
    url('../fonts/Vazir-Light-FD.woff') format('woff'),
    url('../fonts/Vazir-Light-FD.woff') format('woff'),
    url('../fonts/Vazir-Light-FD.woff') format('truetype');
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
    direction: rtl;
    letter-spacing: .5px;
    height: 3000px;
}
a{
    text-decoration: none;
}
span b{
    margin-left: 4px;
}
.main{
    width: 100%;
    background: #2B2B2B;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container0{
    /*width: 40%;*/
    display: flex;
    align-items: center;
    height: 80px;
    /*border: 1px solid blue;*/
    justify-content: flex-start;
}
.flex-item0{
    /*border: 1px solid orangered;*/
    /*height: 80px;*/
    display: flex;
    align-items: center;
}
.flex-item0:nth-child(1){
    font-size: 2.25rem;
    color: #FCCD33;
    margin-right: 10px;
}
.flex-item0:nth-child(2){
    color: #FCCD33;
    font-size: 2.25rem;
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-family: Vazir1;
}
.flex-item0:nth-child(3){
    margin-right: 50px;
    font-size: 1rem;
    color: white;
    font-family: VazirThin;

}
.flex-container1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    /*border: 1px solid #ee00ff;*/

}
.flex-item1{
    /*border: 1px solid #6f42c1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 10px;
}

.flex-item1:nth-child(1){
    color: #FCCD33;
    font-size: 1.05rem;
    font-family: VazirThin;
}
.flex-item1:nth-child(2){
    width: 194px;
    height: 50px;
    background: #FCCD33;
    box-shadow: 0px 20px 25px rgba(252, 205, 51, 0.1);
    border: 1px solid #FCCD33;
    font-family: VazirMedium;
    font-size: 18px;
    border-radius: 52px;
    color: #292929;
}
.flex-item1:nth-child(3){
    height: 39px;
    border: 1px solid #747474;
}
.flex-item1:nth-child(4){
    color: #EBEBEB;
    font-weight: bold;
    font-size: 18px;
    font-family: VazirMedium;
}
.farsiDigit{
    font-family: farsiDigit;
}
.Main{
    width: 100%;
    height: 1000px;
    /*border: 2px solid #fc3a33;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
}
.middleBarLeft{
    width: 12%;
    height: 100%;
    border: 2px solid #8b114a;
}














/*start to create nav right menu***********************************************************/
.rightBar{
    /*border: 2px solid #28a745;*/
    width: 250px;
    height: 1000px;
    background: #313131;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.yellowRectangle{
    width: 100%;
    height: 19%;
    background: #FCCD33;
    border-radius: 0px 0px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#img{
    background-image: url("../pic/peron.jpeg");
    width: 95px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-position: 70%;
    /*border: 1px solid red;*/

}
.yellowRectangle span{
    /*border: 1px solid #28a745;*/
    font-family: VazirMedium;
    color: #473B13;
}
#btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

}
#btn button:nth-of-type(2) {

    width: 190px;
    height: 59px;
    background: #FCCD33;
    border: 1px solid #FCCD33;
    box-shadow: 0px 10px 20px rgba(252, 205, 51, 0.2);
    border-radius: 66px;
    margin-top: 20px;
    outline: 0 !important;
    color: #2D2D2D;
    justify-content: center;
}
#btn button{
    color: #FCCD33;
    width: 190px;
    height: 59px;
    border-radius: 66px;
    margin-top: 20px;
    background: #313131;
    font-family: VazirThin;
    letter-spacing: 1px;
    outline: 0 !important;
    display: flex;
    align-items: center;
    justify-content: end;
}
#btn button span{
    font-size: 17px;
}
/*end of right nav menu***************************************************************************/
















/**********************************design middle of main page**************************/
.middleBar{
    width: 100%;
    height: 1000px;
    border: 2px solid #3c23c8;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    background: #1F1F1F;
}
.middleBarRight{
    width: 88%;
    height: 100%;
    border: 3px solid #62c823;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.topOfTheMainMiddle{
    /*border: 1px solid #FCCD33;*/
    display: flex;
    width: 850px;
    align-items: center;
    margin-top: 50px;
    font-size: 24px;
    font-family: VazirThin;
}
.topOfTheMainMiddle span, h4{
    color: #FCCD33;
    font-weight: bold;
    font-size: 20px;
}
.topOfTheMainMiddle h4{
    position: relative;
    top: 2px;
}
.MainMiddle{
    width: 850px;
    height: 80px;
    /*border: 1px solid #bd2130;*/
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background: #313131
}
.middleSubItem{
    /*border: 1px solid #c142bf;*/
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    direction: ltr;
    font-family: VazirMedium;
    color: white;

}
.middleSubItem:nth-of-type(2){
    align-items: center;
    font-family: VazirMedium;
    color: #FCCD33;
    direction: rtl;
}
.middleSubItem div{
    font-family: VazirThin;
    font-size: 14px;
    font-family: VazirThin;
    color: #ADADAD
}

.middleSubItem:nth-of-type(5){
    border-radius: 10px 0px 0px 10px;
    background:  #282828;

    align-items: center;
    direction: rtl;
    font-family: Vazir1;
}
.middleSubItem:nth-of-type(5) div:first-child{
    color: #FCCD33;
    font-weight: bold;
}
.middleSubItem:nth-of-type(3),.middleSubItem:nth-of-type(4){
    color: #ADADAD;
    font-size: 15px;
    font-family: VazirThin;
    align-items: flex-start;

}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #44DE8B;
    margin: 35px 10px;
}























