@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ytbc2t');
  src:  url('../fonts/icomoon.eot?ytbc2t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ytbc2t') format('truetype'),
    url('../fonts/icomoon.woff?ytbc2t') format('woff'),
    url('../fonts/icomoon.svg?ytbc2t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15758347661535958153:before {
  content: "\e908";
}
.icon-4677689611595234894:before {
  content: "\e90a";
}
.icon-14163220701548233621:before {
  content: "\e900";
}
.icon-7242953181586787868:before {
  content: "\e901";
}
.icon-19047501981578982961:before {
  content: "\e903";
}
.icon-3581263791586787809:before {
  content: "\e904";
}
.icon-20560132991579605529:before {
  content: "\e905";
}
.icon-15730011341579252549:before {
  content: "\e906";
  color: #4e4f50;
}
.icon-21131386491553230905:before {
  content: "\e907";
}
.icon-egg:before {
  content: "\e909";
}
.icon-home3:before {
  content: "\e902";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-next:before {
  content: "\ea19";
}
